@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lim";
  src: url("/fonts/Lim.woff");
}

@font-face {
  font-family: "Gabia";
  src: url("/fonts/Gabia.ttf");
}

@font-face {
  font-family: "Dalseo";
  src: url("/fonts/Dalseo.ttf");
}